<!DOCTYPE html>
<html>
  <head>
    <title>Sproutify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
      <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
        <h2 style="color: #007bff;">Request for Plant Watering Assistance</h2>
          <p>Dear <%= @buddy.name %>,</p>
          <p>I hope this email finds you well. I am reaching out to kindly ask for your assistance with watering my plants while I am away.</p>
          <p>Due to unforeseen circumstances, I need to be away from home. As you know, my plants require regular watering to stay healthy, and I would greatly appreciate it if you could spare some time to help with this task.</p>
          <p>I have left everything you need neatly arranged near the plants, including watering cans and instructions for each plant's specific needs. Your help in ensuring they receive the proper care would mean a lot to me.</p>
          <p> Please refer to the link for the schedule </p>

          <% prod_link = "https://sproutify-staging-b96e84e48ea6.herokuapp.com/#{@user.token}"%>
          <% dev_link = "http://localhost:3000/schedule/#{@user.token}"%>

          <a href="<%= Rails.env.development? ? dev_link : prod_link %>">Link to Schedule</a>

          <p>Thank you so much for helping out! Your kindness and support are truly appreciated.</p>
          <p>Best regards,</p>
          <p><%= @user.username %></p>
      </div>
  </body>
</html>


