<div data-controller="camera" data-camera-api-key-value="<%=ENV["PLANT_ID_KEY"] %>">
  <%= simple_form_for :user, url: identify_results_path do |f| %>
    <%= f.input :image, as: :file, input_html: { data: { action: "change->camera#identify" }} %>
    <%= f.submit "Identify Plant" %>
  <% end %>
</div>
