<div data-controller="diagnosis" data-diagnosis-api-key-value="<%= ENV['PLANT_ID_KEY'] %>">
  <div data-diagnosis-target="results">
  </div>
  <%= simple_form_for :diagnose, method: :get, url: "diagnose_path" do |f| %>
    <div>
    <%= f.input :image, as: :file, input_html: { data: {action: "change->diagnosis#convert"} } %>
    </div>
  <% end %>
</div>
