<div class="message <%= message.user == current_user ? "message-sender" : "message-receiver" %>">
  <div class="content">
    <div id="message-<%= message.id %>">
      <div class="p-2">
        <%= raw(message.content) %>
      </div>
      <div class="text-end pe-2 mb-2">
        <small>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
      </div>

    </div>
  </div>
</div>
