// Define variables for your color scheme

// For Sproutify:
$charcoal: #3C3C3C;
$gray: #D7D7D7;
$off-white: #F4F4F4;
$dark-green: #678D58;
$light-green: #A6C48A;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$light-gray: #F4F4F4;
$green: #1EDD88;
