<div class="nav w-100 d-flex justify-content-around" >
  <%= link_to new_plant_path, class: "nav-link" do %>
    <i class="fa-solid fa-magnifying-glass nav-icon"></i>
    <span class="text">Identify</span>
  <% end %>
  <%= link_to diagnose_path, class: "nav-link" do %>
    <i class="fa-solid fa-stethoscope nav-icon"></i>
    <span class="text">Diagnose</span>
  <% end %>
  <%= link_to plants_path, class: "nav-link" do %>
    <i class="fa-solid fa-seedling nav-icon"></i>
    <span class="text">My Garden</span>
  <% end %>
  <%= link_to listings_plants_path, class: "nav-link" do %>
    <i class="fa-solid fa-store nav-icon"></i>
    <span class="text">Marketplace</span>
  <% end %>
</div>
