<div class="grid-item plant-card-sm" ata-plant-id="<%= plant.id %>" data-action="click->offering-option#add">
  <% if plant.image.key? %>
    <%= cl_image_tag plant.image.key %>
  <% else %>
    <%= image_tag("plant_sample_10.jpg", class: "plant-card-image") %>
  <% end %>
  <div class="plant-card-content">
    <h3><%= plant.nickname %></h3>
  </div>
</div>
