<div data-controller="camera" data-camera-api-key-value="<%=ENV["PLANT_ID_KEY"] %>" >

  <div data-camera-target="info">

  </div>

  <div data-camera-target="toHide">
    <%= image_tag "Magnifying glass over a flower.jpg", alt: "Magnifying glass over a flower", class: "banner mb-5" %>
  </div>

  <div data-camera-target="display">
    <%= render "addplantform", plant: @plant %>
  </div>

  <div class="identifylinks">
    <div class="d-flex justify-content-center">
      <p class="sp-btn-green d-none clickable" data-camera-target="btnShowA" data-action="click->camera#fire">Add to Garden</p>
    </div>
    <div>
      <p class="d-none" data-camera-target="btnShowB">Not accurate? <%= link_to "Identify again", new_plant_path %></p>
    </div>
  <div>
</div>
