<div class="row">
  <% offering_options.each do |option| %>
    <div class="col-6 text-center">
      <% if option.plant.image.attached? %>
        <%= cl_image_tag option.plant.image.key, class: "tiny-image-card-bg" %>
      <% else %>
        <%= image_tag option.plant.plant_info.image_url, class: "tiny-image-card-bg" %>
      <% end %>

      <div>
        <%= option.plant.plant_info.name %>
      </div>
    </div>
  <% end %>
</div>
