<div data-offer-select-target="popup" class="d-flex justify-content-center align-items-center swap-container">
  <div class="swap-container-content">
    <div class="d-flex justify-content-center mb-4">
      <h1>
        Congratulations
      </h1>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="d-flex justify-content-center mb-4">
        <%= render "swap_image", plant: offer.lister_plant, user: "lister" %>

        <i class="d-flex align-items-center fa-solid fa-right-left mx-2"></i>

        <div>
          <%= image_tag offer.lister_plant.plant_info.image_url, class: "swap-plant-image buyer-plant-image", data: { offer_select_target: "swapImage"} %>
        </div>
      </div>
      <p class="text-center mb-4">
        You've successfully swapped with <strong><%= offer.buyer.username %></strong>
      </p>

      <div class="d-flex justify-content-center">
        <%= link_to "Back to offers", offers_path, class: "sp-btn-green-sm" %>
      </div>
    </div>
  </div>
</div>
