.back-button {
  font-size: 1.5rem;
  color: $charcoal;
}

.back-button-fixed {
  background-color: $off-white;
  padding: 7.5px;
  border-radius: 50%;
  font-size: 1.3rem;
  color: $charcoal;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 25;
}

.back-button-fixed-black {
  font-size: 1.5rem;
  color: $charcoal;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 25;
}

.back-button-collection {
  margin-top: 2px;
}

.chat-back-button {
  font-size: 1rem;
  color: $charcoal;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
