.offer-badge{
  position: absolute;
  left: 0;
  top: 0;
  color: white !important;
  width: 100%;
  font-size: 0.7rem;
  padding: 0.1rem 1rem;

  &.pending {
    background-color: #007ACC;
  }

  &.accepted {
    background-color: $dark-green;
  }

  &.rejected {
    background-color: #E5893A;
  }
}

.sick-badge {
  margin-top: 3px;
  background-color: #E5893A;
}

.list-badge {
  background-color: $dark-green;
  color: $off-white;
  width: 65%;
  position: absolute;
  right: -15px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;

  fieldset {
    margin: 0 !important;
  }
}
