.sp-btn-green {
  background-color: $dark-green;
  color: $off-white;
  border: none;
  border-radius: 4px;
  padding: 6px 20px;
}

.sp-btn-gray {
  background-color: $gray;
  color: $charcoal;
  border: none;
  border-radius: 4px;
  padding: 6px 20px;
}
