.sp-btn-green {
  background-color: $dark-green;
  color: $off-white;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 8.5px 20px;
  min-width: 225px;
  border-radius: 25px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);

  &:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease;
  }
}

.sp-btn-green-index {
  background-color: $dark-green;
  color: $off-white;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 8.5px 20px;
  min-width: 150px;
  border-radius: 25px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
}

.sp-btn-green-sm {
  background-color: $dark-green;
  color: $off-white;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 8.5px 20px;
  min-width: 125px;
  border-radius: 25px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
  text-decoration: none;

  &:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease;
  }
}

.sp-btn-medium-green-sm {
  background-color: $medium-green;
  color: $off-white;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 8.5px 20px;
  min-width: 125px;
  border-radius: 25px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
  text-decoration: none;

  &:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease;
  }
}

.sp-btn-gray {
  background-color: $gray;
  color: $charcoal;
  border: none;
  border-radius: 4px;
  padding: 6px 20px;
}

.sp-btn-gray-sm {
  background-color: $gray;
  color: $charcoal;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 8.5px 20px;
  min-width: 125px;
  border-radius: 25px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
  text-decoration: none;

  &:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease;
  }
}

.diagnose_image {
  .form-label {
    display: none;
  }

  ::file-selector-button {
    display: none;
  }
}

.plant_image {
  .form-label {
    display: none;
  }

  ::file-selector-button {
    display: none;
  }
}

.sp-btn-green-calendar-outline {
  background-color: $off-white;
  color: $dark-green;
  border-color: $dark-green;
  text-align: center;
  padding: 8.5px 20px;

  &:hover {
    background-color: $dark-green;
    color: $off-white;
  }
}

.sp-btn-green-calendar {
  background-color: $dark-green;
  color: $off-white;
  border: none;
  text-align: center;
  padding: 8.5px 20px;
}
