.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
  .past {
    background-color:#ccc;
  }
}

.reminder {
  color: white;
  padding: 4px;
  border-radius: 4px;
  background: $dark-green;
  font-size: 0.4rem;
  margin-bottom: 8px;
  // color: $dark-green;
  // text-decoration: underline;
  // margin-bottom: 8px;
  // font-size: 0.6rem;

  p {
    margin: 0;
  }
}

#copy-button {
  width: 200px;
}
