.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
  .past {
    background-color:#ccc;
  }
}

.reminder {
  color: white;
  padding: 8px;
  border-radius: 4px;
  background: #1EDD88;
  font-size: 0.6rem;

  p {
    margin: 0;
  }
}

#copy-button {
  width: 200px;
}
