.collection-card{
  position: relative;
}

.collection-card-label{
  position: absolute;
  top: 75px;
  left: 179px;
  font-weight: bold;
  background-color: white;
}

.deletecollection{
  position: absolute;
}