.image-card{
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: relative;
}

.image-card-rounded{
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: relative;
  border-bottom-left-radius: 350px 100px;
  border-bottom-right-radius: 350px 100px;
}

// comment out as not in use
// .tiny-image-card {
//   width: 35px;
//   height: 35px;
//   object-fit: cover;
// }

.tiny-image-card-bg {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  object-fit: cover;
}

.chat-image-card {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
