.message-sender {
  width: 80%;
  max-width: 312px;
  border-radius: 12px;
  background-color: $light-green;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.message-receiver {
  width: 80%;
  max-width: 312px;
  border-radius: 12px;
  background-color: $gray;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
