.message-sender {
  width: 80%;
  max-width: 312px;
  border-radius: 12px;
  background-color: $light-green;
  margin-bottom: 1rem;
}

.message-receiver {
  width: 80%;
  max-width: 312px;
  border-radius: 12px;
  background-color: $gray;
  margin-top: 1rem;
}

.chat {
  height: 80vh;
  overflow:scroll;
}
