.plant-card-sm {
  background-color: $light-green;
  border-radius: 10px;
  margin: 0px auto;
  position: relative;
  font-size: 0.8rem;

  .plant-card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .plant-card-image-lg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 225px;
    object-fit: cover;
  }

  .plant-card-content {
    padding: 15px;
  }
}

.plant-card-sm-active {
  background-color: $dark-green;
  border-radius: 10px;
  margin: 0px auto;
  position: relative;
  font-size: 0.8rem;

  .plant-card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .plant-card-image-lg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 225px;
    object-fit: cover;
  }

  .plant-card-content {
    padding: 15px;
    color: $off-white;
  }
}

.plant-card {
  background-color: $light-green;
  border-radius: 10px;
  margin: 10px auto;
  position: relative;
  font-size: 0.8rem;

  .plant-card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .plant-card-image-lg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 225px;
    object-fit: cover;
  }

  .plant-card-content {
    padding: 15px;
    height: calc(100% - 150px);
  }
}

.index_header{
  margin: 10px auto;

  .index_header_toggle{
    color: $gray;
    background-color: $medium-green;
  }

  .clickable{
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
      transition: 0.2s ease;
    }
  }

}

.scheduling{
  color: $charcoal;
  text-decoration: none;

  &:hover {
    font-weight: 500;
    transition: 0.2s ease;
  }
}

.deleteplant{
  position: absolute;
  top: 150px;
  right: 5px;
}
