.sp-settings {
  position: sticky;
  top: 0px;
  justify-content: space-between;
  background: white;
  z-index: 25;
}

.sp-settings .navbar-collapse {
  flex-grow: 0;
}

.sp-settings .navbar-brand img {
  width: 40px;
}
