.sp-settings {
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0);
  color: $charcoal;
  padding: 0;
  }

.sp-settings .navbar-collapse {
  flex-grow: 0;
}

.sp-settings .navbar-brand img {
  width: 40px;
}
